<footer class="footer">
  <div class="container has-text-grey-light">
    <nav class="level is-size-7">
      <div class="level-left">
        <div class="level-item">
          <a href="https://github.com/flavioheleno/project-skel">View source code on GitHub</a>
        </div>
      </div>
    </nav>
  </div>
</footer>
