<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="has-text-weight-bold is-uppercase navbar-item" href="#">ProjectSkel</a>
    </div>
  </div>
</nav>
